.navigation-container{
    padding : 5px;
}
.navigation-container ul{
    padding : 0px;
}
.navigation-container ul li{
    display: inline-block;
    margin: 0 10px;

}
.Toggle-Button{
    margin-top : 20px;
    width : 150px;
    height : 35px;
    border : none;
    border-radius : 12px;
}